.App {
  background: rgb(255, 255, 255);
  font-family: 'Libre Baskerville', serif;
}
.company-desc-div {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
}
.company-description {
  border-bottom: 1px solid rgb(22, 255, 22);
  padding: 2rem 2rem 1rem 2rem;
}
.company-desc-div h2 {
  margin: auto;
}
.top-line {
  height: 1px;
  width: 90%;
  border-bottom: 1px solid rgb(22, 255, 22);
  margin: auto;
}
.carousel {
  max-width: 70% !important;
  margin: auto;
  z-index: 0;

}
.carousel div {
  background: rgb(53, 53, 53);
  border-radius: 10px;
  max-height: 75vh;
  box-shadow: 10px 10px 10px 10px #5e5e5e;
}
.carousel-image {
  object-fit: fill;
  margin-top: -4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: ghostwhite;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 8px #2e2e2e;
}
header h1 {
  margin-left: 2rem;
  align-items: center;
  margin-top: 1rem;
  font-size: 3rem;
  border-bottom: 1px solid rgb(203, 112, 255);
  box-shadow: 0 4px 2px -2px rgb(216, 255, 212);
}
header h1 a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-family: "Lobster", cursive;
}
header h1 a:hover {
  color: #b44ed3;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
/* header h1 a:hover {
  font-size: 2rem;
  -webkit-transition: font-size 300ms linear;
  -ms-transition: font-size 300ms linear;
  transition: font-size 300ms linear;
} */
.header-links {
  width: 20%;
  margin-right: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
}
.header-links a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 1.5rem;
}
.header-links a:hover {
    color: rgb(54, 197, 54);
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}
.slider {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
.hide span img {
  margin-right: 2rem;
}
.landing-container {
  width: 80%;
  /* border-left: 1px solid #b44ed3;
  border-right: 1px solid #b44ed3; */
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-top: 5rem;
  background: ghostwhite;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #5e5e5e;

}
.main-title {
  font-size: 3rem;
  margin: auto;
  margin-bottom: 5rem;
}
.title-div {
  display: flex;
  align-items: center;
}
.title {
  margin-left: 10rem;
  width: 20rem;
  border-bottom: 1px solid #b44ed3;
}
.w3-border {
  /* margin: 20% 0; */
  background-color: #272727;
  border-radius: 20px;
  height: 2rem;
  width: 25%;
  margin-left: 8rem;
}
.w3-1 {
  background-color: #9a32b9;
  border: 1px;
  size: 1px;
  border-radius: 20px;
  height: 100%;
  width: 25%;
}
.w3-2 {
  background-color: #9a32b9;
  border: 1px;
  size: 1px;
  border-radius: 20px;
  height: 100%;
  width: 50%;
}
.w3-3 {
  background-color: #9a32b9;
  border: 1px;
  size: 1px;
  border-radius: 20px;
  height: 100%;
  width: 75%;
}
.content-card {
  padding: 2% 5%;
  margin: 2rem;
  width: 75%;
  margin: auto;
}
.landing-container i {
  max-width: 25%;
  padding-right: 2rem;
}
.content {
  display: flex;
}
.content p{
  font-size: 1.25rem;
}
.Contact {
  min-height: 77.8vh;
  width: auto;
  display: flex;
}
.contactForm {
  width: 75%;
  height: 550px;
  min-height: 200px;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 6%;
}
.topForm {
  /* padding-top: 5vh; */
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
  height: 20%;
  align-items: center;
}
.bottomForm {
  display: flex;
  flex-direction: column;
  width: auto;
}
.About {
  /* height: 77.8vh; */
  font-family: 'Libre Baskerville', serif;
  margin-top: 5%;
}
.About-Title {
  font-size: 3rem;
  width: 90%;
  margin: auto;
  margin-bottom: -2%;
  margin-top: -2%;
}
.boxes .vision {
  font-size: 1.5em;

}
#top {
  border-top: 1px solid lightgreen;
  display: flex;
  height: 50%;
  margin: 0% 10%;
  margin-bottom: 5%;


}
.boxes {
  text-align: center;
  justify-content: center;
  width: 40%;
  height: 80%;
  margin: auto;
  margin-top: 2%;
}
.boxes p {
  font-size: 1.25em;
}
.boxes a {
  text-decoration: none;
  color: rgb(120, 68, 150);
}
.devpic {
  min-width: 350px;
  max-width: 500px;
  margin-top: 5%;
  min-height: 80px;
  max-height: 800px
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  height: 6rem;
  width: 100%;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
  background: rgb(26, 26, 26);
}
.footer-img-div {
  width: 19rem;
}
footer img {
  width: 12rem;
  height: 5rem;
  margin-left: 2rem;
}
.copyright {
  width: 17rem;
  text-align: center;
  color: white;
}
.footer-links {
  width: 17rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
.footer-links a {
  text-decoration: none;
  color:  rgb(131, 255, 131);
}
.footer-links a:hover {
  color: rgb(55, 255, 55);
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

@media only screen and (max-width: 830px) {
  header {
    justify-content: space-evenly
  }
  header h1 {
    margin-left: 0;
  }
  header h1 a {
    font-size: 1.5rem;
  }
  .header-links {
    width: 12rem;
    margin-right: 1rem;
    margin: 0;
  }
  .header-links a {
    font-size: 1rem;
  }
  .intro-text {
    margin-left: 10%;
    font-size: 1.5rem;
  }
  .hide span img {
    display: none;
  }
  .company-desc-div {
    max-width: 90%;
    display: flex;
    align-items: center;
  }
  .company-description{
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
    border-bottom: none;
  }
  .carousel {
    max-width: 100% !important;
  }
  .landing-container {
    width: 80%;
  }
  .main-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .title-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title {
    margin-left: 0;
    width: 50%;
    border-bottom: 1px solid #b44ed3;
  }
  .w3-border {
    width: 40%;
    margin-left: 6rem;
  }
  .content-card {
  padding: 2% 5%;
  margin: 2rem;
  width: 80%;
  margin: auto;
}
.landing-container i {
  max-width: 25%;
  padding-left: 3rem;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
  footer {
  }
  .footer-img-div {
    width: 30%;
  }
  footer img {
    width: 70%;
    height: 80%;
    margin-left: 15%;
    
  }
  .footer-links {
    width: 30%;
    margin-right: 5%;
  }
  .copyright {
    width: 30%;
  }
  .footer-links a {
  }
  .Contact {
    min-height: auto;
  }
  .devpic {
      display: none;
    }
    .About-Title p {
      font-size: 2rem;
    }
    .boxes {
      font-size: 1em;
      min-width: 90%;
  }
  #top {
      width: auto
    }
    .vision {
      min-width: 90%;
    }

}